/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 12 */

.container:after {
	content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

/* To Do List */

.todolist:after {
	content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}


/* Individual Todo */
.todo {
	width: 100px;
}


/* Priority icon dot */
.icon {
	float: left;
}


/* Info of the todo, title and date */
.todo-info {
	width: 500px;
}


.todo-info:after {
	content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;	
}


/* Title */
.todo-title {
	height: 50%;
	float: left;
	display: inline;
}


/* Date */
.todo-date {
	float: right;
	display: inline;
}


/* Checkboxes! */
input[type=checkbox] {
}

.check:after {
	content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;	
}