/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 09 */

.header {}

.container {
	/*width: 1024px;*/
	/*margin: 0 auto;*/
}

.container:after {
	content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}


.sidebar {
	float: left;
	height: 200px;
}

.main-content {
	float: right;
	height: 200px;	
}

.sub-content {
	float: right;
	height: 200px;	
}

.footer {
	clear: both;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser?  Answer- the container div */