/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 1024px; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {}

.header:after {
	content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	float: left;
	min-width: 30%;
	height: 100%;
}

.main-content {}

.main-content:after {
	content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.sub-content {
	height: 50%;
	float: right;
}

.sub-content-2 {
	height: 50%;
	float: right;
}

.footer {
	clear: both;
}
