/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {}

.header:after {
	content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;	
}

.logo {
	float: left;
}

.nav {
	float: right;
}

.main-content {}
/* hint! */


.post {}
/* hint! */

.post:after {
	content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;	
}


.image {
	float: left;
	width: 15%;
}

.post_excerpt {
	float: right;
	width: 80%;
	display: inline;
}
